header {
    background-color: red;
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding: 30px;
}

header h2 {
    font-size: 3em;
    font-family: 'Courier New', Courier, monospace;
}

header h3 {
    font-size: 2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}